// 变量
color_primary = #2ECC40
color_darker = #333
color_dark = #666
color_gray = #999
color_light = #ccc
color_lighter = #ddd
default_border_color = #eee
default_bg_color = #eee
default_header_height = 48px
default_tabs_height = 58px

font_little = 12px
font_small = 14px
font_normal = 16px
font_big = 18px
font_tiny = 20px
space0 = 0
space1 = 5px
space2 = 10px
space3 = 15px
space4 = 20px